# UploadThing API Keys
# Get these from https://uploadthing.com/dashboard

UPLOADTHING_SECRET=your_secret_key_here
UPLOADTHING_APP_ID=your_app_id_here

# Alternatively, if you are using the newer version:
# UPLOADTHING_TOKEN=your_token_here
